{{!-- Edição de medicamentos --}}
<Header><h1>Editar Medicamentos</h1>
   <p><a href="/medicamentos" > Voltar</a> </p>
   <hr>
</header>
   <form action="/updatemed" method="POST">
   <div class="form-control">
     <input type="hidden" name="id" id="id" value="{{medicamentos.id}}">
     <label for="nome">Nome:</label>
     <input type="text" name="nome" placeholder="Digite o nome do medicamento" value="{{medicamentos.nome}}">
   </div> 

<div class="form-control">
  <label for="tipo">Dosagem:</label>
  <input type="text" name="dosagem" placeholder="Digite o tipo" value="{{medicamentos.dosagem}}">
</div>   

<div class="form-control">
  <label for="composicao">Composição:</label>
  <input type="text" name="composicao" placeholder="Digite a composição" value="{{medicamentos.composicao}}">
</div>   


<div class="form-control">
  <label for="comprimidos">Comprimidos:</label>
  <input type="text" name="comprimidos" placeholder="Digite a quantidade de comprimidos" value="{{medicamentos.comprimidos}}">
</div>   
   
<div class="form-control">
  <label for="preco">Preço:</label>
  <input type="text" name="preco" placeholder="Digite o preço" value="{{medicamentos.preco}}">
</div>   

<form>
   <input type="submit" value="Editar">
   </form>

   