<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Exames</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="/public/css/features.css" rel="stylesheet">
</head>

<body>
          <a href="/"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
            class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z" />
          </svg></a>
          
    <div class="col-lg-11 mx-auto p-4 py-md-5">
        <div class="d-flex align-items-start justify-content-center pb-3 mb-5 border-bottom">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-heart-pulse" viewBox="0 0 16 16" style="margin-right: 3%;">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053.918 3.995.78 5.323 1.508 7H.43c-2.128-5.697 4.165-8.83 7.394-5.857.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17c3.23-2.974 9.522.159 7.394 5.856h-1.078c.728-1.677.59-3.005.108-3.947C13.486.878 10.4.28 8.717 2.01L8 2.748ZM2.212 10h1.315C4.593 11.183 6.05 12.458 8 13.795c1.949-1.337 3.407-2.612 4.473-3.795h1.315c-1.265 1.566-3.14 3.25-5.788 5-2.648-1.75-4.523-3.434-5.788-5Z" />
                <path d="M10.464 3.314a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.5a.5.5 0 0 0 0 1H4a.5.5 0 0 0 .416-.223l1.473-2.209 1.647 4.118a.5.5 0 0 0 .945-.049l1.598-5.593 1.457 3.642A.5.5 0 0 0 12 9h3.5a.5.5 0 0 0 0-1h-3.162l-1.874-4.686Z" />
            </svg>
        </div>
   

        <main>
          <div class="row g-5 d-flex justify-content-center">
          <div class="col-md-4">
                    <h4 class="mb-3">Edite o exame</h4>
                 <form action="/upexame" method="post" class="needs-validation" novalidate>
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <input type="hidden" name="id" id="id" value="{{editarexame.id}}">
                                <label for="exame" class="form-label">Nome do exame:</label>
                                <input list="exames" class="form-control" name="exame" placeholder="Escolha uma opção" value="{{editarexame.exame}}" required>
                                <datalist id="exames">
               <option value="Hemograma">
               <option value="Glicemia em Jejum">
               <option value="Colesterol e triglicerídeos">
               <option value="Ureia e Creatina">
               <option value="TGO (AST) E TGP (ALT)">
               <option value="TSH E T4 LIVRE">
               <option value="Ácido Úrico">
               <option value="Exames de urina">
               <option value="Eletrocardiograma">
               <option value="Teste ergométrico">
               <option value="Ecocardiograma">        
  </datalist>
                                <div class="invalid-feedback">

                                    Por favor, insira o nome do exame.
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="medico" class="form-label">Nome do Médico:</label>
                                <input type="text" class="form-control" name="medico" placeholder="Nome do médico" value="{{editarexame.medico}}" required>
                                <div class="invalid-feedback">
                                    Por favor, insira o nome do médico.                             
                                       </div>
                            </div>

                            <div class="col-md-6">
                                <label for="cpf_medico" class="form-label">CPF do Médico:</label>
                                <input type="text" class="form-control" name="cpf_medico" placeholder="CPF do médico" value="{{editarexame.cpf_medico}}" required>
                                <div class="invalid-feedback">
                                    Por favor, insira o CPF do médico.
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="paciente" class="form-label">Nome do Paciente:</label>
                                <input type="text" class="form-control" name="paciente" placeholder="Nome do paciente" value="{{editarexame.paciente}}" required>
                                <div class="invalid-feedback">
                                    Por favor, insira o nome do paciente.                             
                                       </div>
                            </div>
                            <div class="col-md-6">
                                <label for="cpf_cliente" class="form-label">CPF do Paciente:</label>
                                <input type="text" class="form-control" name="cpf_cliente" placeholder="CPF do paciente" value="{{editarexame.cpf_cliente}}" required>
                                <div class="invalid-feedback">
                                    Por favor, insira o CPF do paciente.
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="data" class="form-label">Dia do exame:</label>
                                <input list="dias" class="form-control" name="data" id="data" placeholder="Dia do Exame" value="{{editarexame.data}}" required>
                                <datalist id="dias">
                                    <option value="">Escolher...</option>
                                    <option value="Segunda-feira">Segunda-feira</option>
                                    <option value="Terça-feira">Terça-feira</option>
                                    <option value="Quarta-feira">Quarta-feira</option>
                                    <option value="Quinta-feira">Quinta-feira</option>
                                    <option value="Sexta-feira">Sexta-feira</option>
                                </datalist>
                                <div class="invalid-feedback">
                                    Por favor, insira uma data.
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="horario" class="form-label">Horário:</label>
                                <input list="hora" class="form-control" name="horario" id="horario" placeholder="Horário do Exame" value="{{editarexame.horario}}" required>
                                <datalist id="hora">
                                    <option value="">Escolher...</option>
                                    <option value="8:00">8:00</option>
                                    <option value="9:00">9:00</option>
                                    <option value="10:00">10:00</option>
                                    <option value="11:00">11:00</option>
                                    <option value="12:00">12:00</option>
                                    <option value="13:00">13:00</option>
                                    <option value="14:00">14:00</option>
                                    <option value="15:00">15:00</option>
                                    <option value="16:00">16:00</option>
                                    <option value="17:00">17:00</option>
                                    <option value="18:00">18:00</option>
                                </datalist>
                                <div class="invalid-feedback">
                                    Por favor, insira um horário.
                                </div>
                            </div>
                            



                        </div>

                        <hr class="my-4">

                        <button class="w-100 btn btn-primary btn-lg" type="submit">Editar Exame</button>
                    </form>
                </div>
            </div>
            </div>
          </main>



        <footer class="pt-5 my-5 text-muted border-top text-center">
            Created by the Clínica Resilia team &middot; &copy; 2023
        </footer>
    </div>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/public/javascript/checkout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="/public/javascript/checkout.js"></script>
</body>
</html>