            <!DOCTYPE html>
            <html lang="pt-br">

            <head>
                <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Busca de Exames</title>


                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
                <link rel="stylesheet" href="/public/css/style.css">
                <link href="/public/css/features.css" rel="stylesheet">
            </head>
            <body>
                <main>
                    <a href="/"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z" />
                    </svg></a>
                    
                <div class="col-lg-11 mx-auto p-4 py-md-5">
                    <div class="d-flex align-items-start justify-content-center pb-3 mb-5 border-bottom">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-heart-pulse" viewBox="0 0 16 16" style="margin-right: 3%;">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053.918 3.995.78 5.323 1.508 7H.43c-2.128-5.697 4.165-8.83 7.394-5.857.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17c3.23-2.974 9.522.159 7.394 5.856h-1.078c.728-1.677.59-3.005.108-3.947C13.486.878 10.4.28 8.717 2.01L8 2.748ZM2.212 10h1.315C4.593 11.183 6.05 12.458 8 13.795c1.949-1.337 3.407-2.612 4.473-3.795h1.315c-1.265 1.566-3.14 3.25-5.788 5-2.648-1.75-4.523-3.434-5.788-5Z" />
                            <path d="M10.464 3.314a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.5a.5.5 0 0 0 0 1H4a.5.5 0 0 0 .416-.223l1.473-2.209 1.647 4.118a.5.5 0 0 0 .945-.049l1.598-5.593 1.457 3.642A.5.5 0 0 0 12 9h3.5a.5.5 0 0 0 0-1h-3.162l-1.874-4.686Z" />
                        </svg>
                        <span class="fs-4">Busca de Exames</span>
                    </div>

                            <div class="row" style="justify-content: center;">

                                <div class="card text-dark bg-light" style="width: 16rem; margin: 3%">

                                    <div class="card-body">
                                        <h4 class="card-title" style="margin-bottom: 10px;"><strong>
                                            O id dessa marcação é: {{listarexames.id}}</strong></h4>
                                        <p class="text-dark fs-6">
                                            <strong>O nome desse exame é:</strong> 
                                            <br>
                                            {{listarexames.exame}}
                                            <br>
                                            <strong>O nome do médico é:</strong> 
                                            <br>
                                            {{listarexames.medico}}
                                            <br>
                                            <strong>O nome do paciente é:</strong> 
                                            <br>
                                            {{listarexames.paciente}}
                                            <br>
                                            <strong>Esse exame foi marcado para a data:</strong>
                                            <br>
                                            {{listarexames.data}}
                                            <br>
                                            <strong>Esse exame foi marcado para o horário:</strong>
                                            <br>
                                            {{listarexames.horario}}
                                        </p>



                                    </div>
                                </div>

                            </div>
                        </div>
                    </main>
                            <footer class="pt-5 my-5 text-muted border-top text-center">
                    Created by the Clínica Resilia team &middot; &copy; 2023
                </footer>
            </div>


            <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
            <script src="/public/javascript/checkout.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
            <script src="/public/javascript/checkout.js"></script>
        </body>
        </html>
                


{{!-- <h1>Exames pelo ID</h1>
<link rel='stylesheet' href='/public/css/style_exames.css' />

<div class="container">

<h2> O id dessa marcação é: {{listarexames.id}}</h2>

<h3> O nome desse exame é: {{listarexames.exame}} </h3>

<p>O nome do médico é: {{listarexames.medico}}</p>

<p>O nome do paciente é: {{listarexames.paciente}}</p>

<p>Esse exame foi marcado para a data: {{listarexames.data}}</p>

<p>Esse exame foi marcado para o horário: {{listarexames.horario}}</p>

</div>
<a href="/exames/edit_exames/{{listarexames.id}}">Editar</a>
<hr>
<a href="/exames/remove/{{listarexames.id}}">Excluir</a>
<hr>
<a href="/busca_exames/">Buscar</a>
<hr>
<a href="/">Home</a>
<hr>
<a href="/index_exames">Exames</a> --}}

