<h1>Medico</h1>

<h1>{{listarmedico.nome}}</h1>

<p>CPF: {{listarmedico.cpf}}.</p>
<p>Senha: {{listarmedico.senha}}.</p>
<p>E-mail: {{listarmedico.email}}.</p>
<p>Telefone: {{listarmedico.telefone}}.</p>
<p>Nascimento: {{listarmedico.nascimento}}.</p>



<a href="/medico/editar/{{listarmedico.id}}">Editar</a>

<a href="/medico/excluir/{{listarmedico.id}}">Excluir</a>