<h1>Prescrição do(a) paciente {{listarclientes.nome}} </h1>
<hr>
<p>Médico responsável pelo paciente - {{listarclientes.medico}}</p>
<hr>
<p>Atendimento realizado no dia - {{listarclientes.data}}</p>
<hr>
<p>Telefone de contato -  {{listarclientes.telefone}}</p>
<hr>
<p>Tratamento indicado - {{listarclientes.remedio}}</p>
<hr>

<a href="/receita/editCad/{{listarclientes.id}}">Editar</a>
<a href="/receita/remove/{{listarclientes.id}}">Excluir</a>
